<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form method="post">
<h2 align="center">Login</h2>
  {% csrf_token %}
    <h2 align="center">{{ form.as_p }}</h2>
    <h2 align="center"><button type="submit">Login to Account</button></h2>
</form>
{% endblock %}