{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin View</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
</head>
<body>

<form action="/register/" method="POST">
    {% csrf_token %}
    <span align="center">
    <h2 align="center" style="font-size:55px">Please Register</h2>
        <p align="center" style="font-size:22px">[Please enter a username and password to create player account]</p>
    <p style="font-size:20px;color: seagreen;font-weight: bolder" align="center">Username:
        <input align="center" width="100px" type="text" name="username" value=""/></p>

    <p align="center" style="font-size:20px;color: seagreen;font-weight: bolder">Password:
    <input align="center" width="100px" type="text" name="password" value="" /></p>

        <p align="center" style="font-size:20px;color: seagreen;font-weight: bolder"><input align="center" type="submit"/></p>
    </span>
</form>

</body>
</html>