<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/register/" method="POST">
    {% csrf_token %}
    <h1 align="center" style="color: red ">Error! Try again...[Player Already Exist]</h1>
    <h1 align="center">Please register:</h1>
    <link rel="stylesheet" href="../../static/PokerProjectStyle.css">
    <p align="center" style="font-size:20px;color: seagreen;font-weight: bolder">Username:
        <input width="100px" type="text" name="username" value="" /> </p>

    <p align = "center" style="font-size:20px;color: seagreen;font-weight: bolder">Password:
        <input width="100px" type="text" name="password" value="" /> </p>

        <p align="center"><input align="center" type="submit"/></p>
</form>

</body>
</html>