{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
</head>
<body style="..."width="320px" align="center">
    <h2 align="center">Please Enter a Valid Table Name For High Score Reset!</h2><br>

    <p><a href="/highscoreview"> Return to View High Score(s)</a></p><br><br>
    <p><a href="{% url 'logout' %}">logout</a></p>
</body>
</html>