{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin View</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
</head>
<body align="center" style="..." width="320px">

<br><br><h2 style="font-size:50px;">RedRyder's Poker Game [ADMIN] </h2><br>

{% block content %}

{% if user.is_authenticated %}
    <h2 align="center" style="color: black; font-size:42px">Hello Administrator : {{ user.username }} !</h2> <br><br>
    <p align="center" style="font-size:25px;" ><a href="/createuser/">Create/Delete User(s)</a></p>
     <p align=""center style="font-size:25px;"><a href="/createtable">Create/Delete Table(s)</a></p>
    <p align="center" style="font-size:25px;"><a href="/highscoreview"> View High Score(s)</a></p><br>
    <p align="center" style="color: black;font-weight: bold;font-size:22px;"><td width="200px" >Player(s) Available In Database: </td></p>
{% for i in players %}
        <table border="1" align="center">
                <tr width="200px">
                    <td width="200px">{{ i.username}}</td>

                </tr>
        </table>
{% endfor %}

<br><br><br><p align="center" style="color: black;font-weight: bold;font-size:22px;"><td width="200px">Table(s) Available In Database: </td></p><br>
    {% for i in tables %}
        <table border="1" align="center">
            <tr width="200px">
                    <td width="200px">Table: {{ i.nameTable }}</td>
                    <td width="200px">Spots Free: {{ i.free_spots}}</td>
                    <td width="200px">Number of Players at table: {{ i.num_players }}</td>
                    {%  if i.players != null %}
                        <td width="200px">Players at Table:</td>
                        {% for j in i.players.all %}
                            <td width="200px"> {{ j.username}} </td>
                        {% endfor %}
                    {% else %}
                        <td width="200px">Players at Table: Empty Table </td>
                    {%  endif %}
                    <td width="200px">High Score: {{ i.highscore }}</td>
                    <td width="200px">High Score Player's Name: {{ i.highScorName}}</td>
            </tr>
        </table>
    {% endfor %}
<br><br>

    <br><br><br><p align="center" style="font-size:25px;"><a href="{% url 'logout' %}">LOGOUT</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}<br><br>

</body>
</html>