{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
</head>

<body style="..."width="320px" align="center" onload = "JavaScript:AutoRefresh(5000);">
<span width="100px">
<link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
<span align="center">
<br><br><br><h1>Create New Poker Player Account:</h1><br>
<form action="/createuser/" method="post">
    {% csrf_token %}

    <br />  <h2 align="center" >Enter New Player Name: </h2> <input width="100px" type="text" name="input" value="" /><br /><br><br>
    <br />  <h2 align="center" >Enter New Player Password: </h2>  <input width="100px" type="text" name="input2" value="" /><br />

<br /><br><input align="center" type="submit"/><br><br>
    <br />
</form></span></span>

<span width="100px">
<link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
<span align="center">
<br><br><br><h1 style="color:red;">Delete Poker Player from Database:</h1>
<form action="/createuser/" method="post">
    {% csrf_token %}


    <br />  <p align="center" style="font-size:20px;color:red;font-weight: bolder">Delete Player [Please Enter Player Name] : </p><br>
    <input width="100px" type="text" name="delete" value="" /><br />
<br /><br><input align="center" type="submit"/><br><br>
    <br />
</form></span></span>

<p align="center" style="color: black;font-weight: bold;font-size:22px;"><td width="200px">Player(s) Available In Database: </td></p>
{% for i in players %}
        <table border="1" align="center">
                <tr width="200px">
                    <td width="200px">{{ i.username}}</td>

                </tr>
        </table>
{% endfor %}

<br><br><br><p align="center" style="color: black;font-weight: bold;font-size:22px;"><td width="200px">Table(s) Available In Database: </td></p><br>

{% for i in tables %}
        <table border="1" align="center">
                <tr width="200px">
                    <td width="200px">Table: {{ i.nameTable }}</td>
                    <td width="200px">Spots Free: {{ i.free_spots}}</td>
                    <td width="200px">Number of Players at table: {{ i.num_players }}</td>
                    {%  if i.players != null %}
                        <td width="200px">Players at Table:</td>
                        {% for j in i.players.all %}
                            <td width="200px"> {{ j.username}} </td>
                        {% endfor %}
                    {% else %}
                        <td width="200px">Players at Table: Empty Table </td>
                    {%  endif %}
                    <td width="200px">High Score: {{ i.highscore }}</td>
                    <td width="200px">High Score Player's Name: {{ i.highScorName}}</td>
                </tr>
        </table>
{% endfor %}<br><br>


<br><br><p align="center" style="font-size:20px;"><a href="/adminhome"> Return To Homepage</a></p>
</body>
</html>