{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
</head>
<body style="..."width="320px" align="center">
    <h1 align="center">Game Results!</h1><br>

    <h2 align="center">Played at Table:  {{table.nameTable}}</h2>
<h2 align="center" style="color: orangered">Player(s) In The Game: </h2>
    {% for i in table.InGame.all %}
         <table border="1" align="center">
                    <td>{{ i.username }} </td>
         </table>
    {% endfor %}

    <h2 align="center" style="color: darkblue">Hands Are Displayed Below:</h2>
    {% for i in table.InGame.all %}
        <table border="1" align="center">
        {% if i.foldHand %}
            <td style="color: saddlebrown">Player {{ i.username }} Folded. Hand NOT Revealed!</td><br>
        {% else %}
            <td align="center"style="color: saddlebrown"> Player {{ i.username }} Your Hand is: </td>
             {% for h in i.cardsHeld.all %}
                <td>{{ h.rank }}{{ h.suit }} </td>
             {% endfor %}
        {% endif %}
        </table><br>

    {% endfor %}



    <br><h2 align="center">Winner(s) are listed [Below] :</h2>
    {% for i in table.winner.all %}
        <table border="1" align="center">
            <tr width="200px" align="center">
                <td width="200px" align="center" style="color: darkgreen">Player: {{i.username}} ...... You Won!</td>
                {%  if i.checkHand %}
                    <td width="200px">Players Action: [Check] </td>
                {% elif i.raiseHand %}
                    <td width="200px">Players Action: [Raise] </td>
                {% elif i.callHand %}
                    <td width="200px">Players Action: [Call] </td>
                {% else %}
                    <td width="200px">Players Action (Invalid Input is Automatically Folded) : [Fold] </td>
                {% endif %}
                <td align="center">The Pot Won : {{ i.currentBet }}</td><br>
                    <td align="center">Current Chip Count: {{ i.money }}</td><br>
            </tr>
        </table>
    {% endfor %}
    <br><h2 align="center" style="color: red">Loser(s) are listed [Below] :</h2>
    {% for p in table.players.all %}
        {%  if p.playerLost%}
            <table border="1" align="center">
                <tr width="200px" align="center">
                    <td width="200px" align="center" style="color: darkred">Player: {{p.username}} ...... You Lost!</td>
                    {%  if p.checkHand %}
                        <td width="200px">Player Action: [Check] </td>
                    {% elif p.raiseHand %}
                        <td width="200px">Player Action: [Raise] </td>
                    {% elif p.callHand %}
                        <td width="200px">Player Action: [Call] </td>
                    {% else %}
                        <td width="200px">Players Action (Invalid Input is Automatically Folded) : [Fold] </td>
                    {% endif %}
                    <td align="center">The Pot Lost is: {{ p.currentBet }}</td><br>
                    <td align="center">Current Chip Count: {{ p.money }}</td><br>
                </tr>
            </table>
        {% endif %}
    {% endfor %}
    <br><h2 align="center">High Score(s) are listed [Below] :</h2><br><br>
    {% for i in table.highScoreName.all %}
        <h2 align="center">High Score Player(s): {{i.username}}</h2><br><br>
    {% endfor %}
        <h2 align="center">High Score is: {{table.highscore}}</h2><br><br><br>



    {% if player.currentGame %}
        <h2 style="color: firebrick">[Ending The Game Automatically Starts A New Game With Current Spectating Players Sitting At The Table!]</h2><br><br>
        <h2 style="color: black">Please Note: If you just finished a game please rejoin the table to play in upcoming games at this table.</h2><br>
        <br><br><p align="center" style="font-size:25px;"><a href="/gameresult/">End Game!</a></p><br>
    {% else %}
        <h2>Please Note: Any spectating players, new players or past players can start a new game. Please enter the Game!</h2>
        <br><br><p align="center" style="font-size:25px;"><a href="/tableplay/">Start New Game!</a></p><br>
    {% endif %}

    <br><p align="center" style="font-size:25px;"><a href="{% url 'logout' %}">LOGOUT</a></p>

</body>
</html>