{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">


</head>
<body style="..."width="320px" align="center" onload = "JavaScript:AutoRefresh(5000);">

    <h3>High Score(s) at the Table</h3><br><br>

    {% for c in counter %}
        <p>[Table Name]: {{ TableName.pop }} -----------------------------------> [High Score] : {{ HighScore.pop }}</p> <br>
    {% endfor %}

    <span width="100px">
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
    <span align="center">
    <p>Reset High Score [Please Enter Table Name and Press Submit] :</p>
    <form action="/highscoreview/" method="post">
        {% csrf_token %}

      <br />  Table Name:    <input width="100px" type="text" name="tableName" value="" /><br />
    <br /><input align="center" type="submit"/>
        <br />
    </form><br><br>

        <span align="center">
           {% for i in tables %}
        <table border="1" align="center">
                <tr width="200px">
                    <td width="200px">Table Name: {{ i.nameTable }}</td>
                    <td width="200px">Free Spot(s): {{ i.free_spots}}</td>
                    <td width="200px">Number of Players at table: {{ i.num_players }}</td>
                    {%  if i.players == null %}
                        <td width="200px">Players at table: {{ i.players }} </td>
                    {% else %}
                        <td width="200px">Players at table: Empty Table </td>
                    {%  endif %}
                    {%  if i.highscore > 0 %}
                        <td width="200px">High Score: {{ i.highscore }}</td>
                        <td width="200px">High Score Player's Name: {{ i.highScorName}}</td>
                    {% else %}
                        <td width="200px">No High Score(s) Yet</td>
                    {%  endif %}
                </tr>
        </table>
    {% endfor %}
        </span>

    <span align="center">
    <br />

    <p><a href="/adminhome"> Return To Homepage</a></p>
    </span></span></span>
</body>
</html>