{% extends "base.html" %}


{% block content %}

    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      <p align="center" style="font-size:25px;"><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
      <br><br><br><p align="center" style="font-size:25px;">You are not logged in</p>
      <p align="center" style="font-size:25px;"><a href="{% url 'login' %}">login</a></p>

        <center><h3>Or, you can <a href="/register">register</a></h3></center>
    {% endif %}

{% endblock %}