{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
</head>
<body style="..."width="320px" align="center">
    <h2 align="center">Please Enter a Valid Table Name!</h2><br>
    <br><h2 align="center">(Case Sensitive)</h2>
    <p align="center">If no table exists please contact an administrator to add table(s).</p><br><br><br>
    <p align="center">If you are trying to add table with same name please choose a unique name.</p><br><br><br>
    {% if user.get.is_superuser == true %}
        <p><a href="/">Return To Table Select</a></p><br>
    {% else %}
        <p><a href="/playerhome">Return To Table Select</a></p><br>
    {% endif %}

    <p><a href="{% url 'logout' %}">logout</a></p>
</body>
</html>