{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
</head>


<body style="..."width="320px" align="center" onload = "JavaScript:AutoRefresh(5000);">
    <h2 align="center">You Are NOT an Admin!</h2><br>
    <p align="center"> Please Try Again or Contact an Administrator for support.</p><br><br><br>

    <p><a href="/"> Return To Homepage</a></p>
</body>
</html>