{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
</head>
<body style="..."width="320px" align="center">
    <h2 align="center">Players Not Enough To Start A Game!</h2><br>
    <br><h2 align="center">Please Select Table Again</h2>
    <p align="center">If no table exists or if all tables are full please contact an administrator to add table(s).</p><br><br><br>

    <p><a href="/playerhome">Return To Table Select</a></p>
    <p><a href="{% url 'logout' %}">logout</a></p>
</body>
</html>