{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta HTTP-EQUIV="refresh" CONTENT="10">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">


</head>
<body style="..."width="320px" align="center">

<script>
    function AutoRefresh(t) {
            setTimeout("location.reload();", t * 1000);
        }
        function startTimer(duration, display) {
            let timer = duration;
            setInterval(function () {
                const seconds = timer;
                display.textContent = seconds;
                if (--timer < 0) {
                timer = 0;
                }
            }, 1000);
        }

        window.onload = function() {
            const seconds = 9, //display number minus 1, since it takes one second for the timer to begin decrementing
                display = document.querySelector('#time'); //starting display number is set in the
            startTimer(seconds, display);                  //span tag of page refresh below
            AutoRefresh(seconds + 1) //add one to account for "seconds" being 1 less than display
        };
</script>

<div >Page refresh in <span id="time">10</span> seconds</div>

{% block content %}
<h2>Enjoy Your RedRyder's Poker Game! </h2>
    <p align="center">Please Note: Spots Available May Not be Up To Date At Table(s) If You Just Returned From Table!</p>
    <p align="center">[Page Will Refresh Every 10 Seconds. You Can Also Manually Refresh This Page!]</p><br><br>
{% if user.is_authenticated %}
 <p>Hello User : {{ user.username }}</p>
<span width="100px">
<link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
<span align="center">
<form action="/tablehome/" method="POST">
    {% csrf_token %}


  <br />  Please Select A Table From the List to Join:    <input width="100px" type="text" name="tablename" value="" /><br />
<br /><input align="center" type="submit"/><br><br>
    <br />
</form>
<p width="200px" align="center">Tables Currently Available [Listed Below]: </p><br><br>

{% for i in tables %}
        <table border="1" align="center">
                <tr width="200px">
                    <td width="200px">Table Name: {{ i.nameTable }}</td>
                    <td width="200px">Spots Free: {{ i.free_spots}}</td>
                    <td width="200px">Number of Players at table: {{ i.num_players }}</td>
                    {%  if i.players != null %}
                        <td width="200px">Players at Table:</td>
                        {% for j in i.players.all %}
                            <td width="200px"> {{ j.username}} </td>
                        {% endfor %}
                    {% else %}
                        <td width="200px">Players at Table: Empty Table </td>
                    {%  endif %}
                    <td width="200px">High Score: {{ i.highscore }}</td>
                    <td width="200px">High Score Player: {{ i.highScoreName}}</td>
                </tr>
        </table>
{% endfor %}
    </table>
</span>
</span>

<br />
<br />

<p><a href="/">Return To Homepage</a></p>
<p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
</body>
