{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">


</head>
<body style="..."width="320px" align="center">


    <h2 style="color: blue; font-weight: bolder; font-size: 35px ">Enjoy Your RedRyder's Poker Game! </h2><br>


    <h2 style="font-size: larger; color: brown; font-size: 28px">Player : {{ user }}</h2><br>
    <h2 style="font-size: larger; color: darkgreen; font-size: 28px">Poker Chip Balance : {{ player.money }}</h2><br>

    <span width="100px">
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
    <span align="center">
    <form action="/tablehome/" method="POST">
        {% csrf_token %}


      <br />  <p align="center" style="font-size: 20px; font-weight: bolder">"Please Select A Table From the List to Join"</p> <br>
        <input width="100px" type="text" name="tablename" value="" /><br />
    <br /><input align="center" type="submit"/><br><br>
        <br />
    </form>
    <p align="center" style="font-size: 20px; color: indigo">Tables Currently Available [Listed Below]: </p><br>

    {% for i in tables %}
            <table border="1" align="center">
                    <tr width="200px">
                        <td width="200px">Table Name: {{ i.nameTable }}</td>
                        <td width="200px">Spots Free: {{ i.free_spots}}</td>
                        <td width="200px">Number of Players at table: {{ i.num_players }}</td>
                        {%  if i.players != null %}
                            <td width="200px">Players at Table:</td>
                            {% for j in i.players.all %}
                                <td width="200px"> {{ j.username}} </td>
                            {% endfor %}
                        {% else %}
                            <td width="200px">Players at Table: Empty Table </td>
                        {%  endif %}
                        {%  if i.highscore > 0 %}
                            <td width="200px">High Score: {{ i.highscore }}</td>
                            <td width="200px">High Score Player's Name: </td>
                            {% for z in i.highScoreName.all %}
                                <td width="200px">{{ z.username}}</td>
                            {% endfor %}
                        {% else %}
                            <td width="200px">No High Score(s) Yet</td>
                        {%  endif %}
                    </tr>
            </table>
    {% endfor %}
        </table>
    </span>
    </span>

    <br />
    <br />
        <p align="center" style="font-size:20px;"><a href="{% url 'logout' %}">logout</a></p>

</body>
</html>