{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
</head>
<body>

{% if user.is_authenticated %}
<h1 align="center">Playing at Table:  {{table.nameTable}}</h1>
<h2 align="center">Player: [{{ player.username }}]</h2>

{% if player.currentGame %}
    <h2 align="center" >Your Hand Is Shown Below:</h2>
    <table border="1" align="center">
        <td align="center">Your Hand is: </td>
         {% for i in playerhand.all %}
            <td>{{ i.rank }}{{ i.suit }} </td>
         {% endfor %}
    </table>
{% endif %}

    {% if player.completeTurn %}
        <p align="center">Wait For Game Determination</p>
    {% else %}
        <h1 align="center">Your Current Balance: {{ player.money }}</h1>
    {% endif %}


<h2 align="center">Game Status [Player(s) in Current Game]: </h2>

{%  if table.currentGame %}
    {% for t in table.InGame.all %}
        <p width="200px" align="center" style="color: mediumblue;font-weight: bold;" > Player: {{ t.username }} </p>
    {% endfor %}
{% else %}
        <p width="200px" align="center"> No Game in Session</p><br><br><br><br>
{% endif %}

<h2 align="center">Table Messages [ BELOW ]:</h2>
{% for i in table.tableMessage.all %}
    <p align="center" style="color:red;font-weight: bold;">{{ i.message }}</p>
{% endfor %}
<h2 align="center" style="color: darkslategray">Player Actions [ The Table Listed Below Is Also Turn Order! Please Refresh Page If Required!]:</h2><br>

{% for z in players.all %}
        <table border="1" align="center">
                <tr width="200px">
                    <td width="200px">Player Name: {{ z.username }}</td>
                    {% if z.completeTurn %}
                        <td width="200px">Will Be Updated After Game Ends</td>
                    {% else %}
                        <td width="200px">Player Total Chips: {{ z.money}}</td>
                    {% endif %}
                    <td width="200px">Player Current Bet: {{ z.currentBet }}</td>
                    {%  if z.callHand %}
                        <td width="200px">Players Current Status: Call </td>
                    {%  elif z.foldHand %}
                        <td width="200px">Players Current Status: Fold </td>
                    {%  elif z.raiseHand%}
                        <td width="200px">Players Current Status: Raise </td>
                    {%  elif z.checkHand %}
                        <td width="200px">Players Current Status: Check </td>
                    {%  else %}
                        <td width="200px">Players Current Status: -No Action- </td>
                    {% endif %}
                </tr>
        </table>
{% endfor %}<br><br>

{% if player.currentGame %}
        {% if player.myTurn %}
            {% if player.completeTurn %}
                <h2 width="200px" align="center">Thanks For Playing Your Turn. Wait For Game Completion. Please Refresh Page!</h2>
            {% else %}
                <p align="center" style="font-size: 20px; color: indigo;font-weight: bold">Commands [Listed Below]: </p><br>
                <table border="1" align="center">
                    <tr width="200px" align="center">
                        <td width="200px">Call</td>
                        <td width="200px">Raise</td>
                        <td width="200px">Check</td>
                        <td width="200px">Fold</td>
                    </tr>
                </table>
                <p align="center" style="font-size: 20px; color: red">"Please Enter In Command Exactly as Shown. Otherwise, you will be folded!"</p>
                <form action="/tableplay/" method="POST">
                 {% csrf_token %}
                    <label for="fname"><p align="center" style="font-size: 20px; color: navy; font-weight: bold">Enter Command [Below]:</p></label>
                    <p align="center" style="font-size: 20px; color: navy; font-weight: bold"><input type="text" id="fname" name="command" value="" ></p>
                    <label for="lname"><p align="center" style="font-size: 15px; color: navy; font-weight: bold">[Optional] - If Betting Please Enter Bet Amount Below [Bets Must be Numeric]:</p></label>
                    <p align="center" style="font-size: 20px; color: navy; font-weight: bold"><input type="text" id="lname" name="bet" value=""></p>
                    <p align="center" style="font-size: 20px; color: navy; font-weight: bold"><input type="submit" value="Submit"></p><br>
                 </form>
        {% endif %}
        {% else %}
            <h2 width="200px" align="center">It Is Not Your Turn. Please Wait!</h2>
        {% endif %}
{% else %}
        <h2 width="200px" align="center">You Are Not In This Current Game. Spectating!</h2>
{% endif %}

    <br />
</form>

    {% if table.finishGame %}
        <p align="center"><a href="/tableplay/"> Refresh Page</a></p>
    {% else %}
        <p align="center"><a href="/tableplay/"> Refresh Page</a></p>
    {% endif %}
    <p align="center"><a href="{% url 'logout' %}">LOGOUT</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}

</body>
</html>