{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset="UTF-8">
    <title>The Main View Where Games Will Be Played</title>
    <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">
</head>
<body style="..."width="320px" align="center">
<h2 align="center">Welcome to Table Home:  {{table.nameTable}}</h2>
<p align="center">Thanks For Joining {{ player.username }}! Good Luck!</p>

<p align="center">Game Status: </p>

    {%  if table.currentGame == true%}
        {% for t in table.InGame.all %}
            <p width="200px"> Players in the Current Game : {{ t.username }} </p>
        {% endfor %}
    {% else %}
        <p width="200px"> No Game in Session</p><br><br><br><br>
    {% endif %}

    {%  if table.betGame == true%}
        <p width="200px"> Table Is Currently Betting </p>
    {% endif %}

    {%  if table.finishGame == true%}
        <p width="200px"> Table Is Finish Playing a Game! </p>
    {% endif %}

<p align="center">Player Action Status: </p>

{%  if table.playerActions == null%}
    {% for p in table.playerActions.all %}
        <p width="200px"> {{ p.message }} </p><br>
    {% endfor %}
{% else %}
    <p width="200px"> No Player Actions</p><br><br><br><br>
{% endif %}


<p width="300px" align="center">Users Sitting At The Table [Below] :</p>
{% for i in table.players.all %}
    <table border="1" align="center">
    <tr width="200px" align="center">
        <td width="200px" align="center">{{i.username}}</td>
    </tr>
</table>
{% endfor %}
<p width="200px" align="center">Players Total: {{ table.num_players}} </p><br>

<p width="200px" align="center">Player Info Table [Below]: </p><br>
{% for z in table.players.all %}
        <table border="1" align="center">
                <tr width="200px">
                    <td width="200px">Player Name: {{ z.username }}</td>
                    <td width="200px">Player Total Chips: {{ z.money}}</td>
                    <td width="200px">Player Current Bet: {{ z.currentBet }}</td>
                    {%  if z.callHand == false %}
                        <td width="200px">Players Current Status: Call </td>
                    {%  elif z.foldHand == false %}
                        <td width="200px">Players Current Status: Fold </td>
                    {%  elif z.raiseHand == false %}
                        <td width="200px">Players Current Status: Raise </td>
                    {%  elif z.checkHand == false %}
                        <td width="200px">Players Current Status: Check </td>
                    {%  else %}
                        <td width="200px">Players Current Status: -No Action- </td>
                    {% endif %}
                </tr>
        </table>
{% endfor %}

<p align="center"><a href="/tablehome"> Refresh!</a></p>

{% if table.currentGame == true%}

    {% for z in table.InGame.all %}
        {% if  player.username == z.username%}
         <p align="center"><a href="/tableplay"> Game Start! Go To Game!</a></p>
        {% endif %}
    {% endfor %}

{% endif %}
{% if user.is_authenticated %}
    <p align="center"><a href="{% url 'logout' %}">LOGOUT</a></p>
{% endif %}

</body>
</html>