body {
    background-color: ghostwhite;
}

p {
    font-weight: bold;
    font-size: 14pt;
    color: darkred;
}



h2 {
    color: green;
}

br {

}

table {
    border: 20pt blue groove;
}

tr {
}

td {
    font-weight: bold;
    font-size: 16pt;
}

a {
    color: blue;
    font-weight: bolder;
}

span {

}

form {

}

input {

}

h1 {

}

h3 {

}

script {

}

div {

}

button {

}