{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Django</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="{% static 'PokerProjectStyle.css' %}">


</head>
<body onload = "JavaScript:AutoRefresh(5000);">
    {% block content %}{% endblock content %}
</body>

</html>